@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 1100px;
  background-color: #ffffff;
  padding: 2rem 0;
  /*border: solid black 1px;*/
}
h1{
  display:block;
  text-align:center;
}

.form-content{
  display:flex;
  position:relative;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  /*width:100%;*/
}

.prof-type{
  display:flex;
  text-align: center;
}
.prof-type label, input{
  flex-grow:1;
}

.user-info{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  width:100%;
}
.left-info{
  display:flex;
  flex-direction:column;
  /*max-width:100%;*/
  position:relative;
}
.right-info{
  display:flex;
  flex-direction:column;
  /*max-width:100%;*/
  position:relative;
}

.img-and-submit{
  border:solid black 1px;
  display:flex;
  /*flex-flow:wrap row;*/
  justify-content:space-between;
  align-items:center;
  width:100%;

}
.profile-pic{
  /*display:inline-block;*/
  max-width:50%;


}
button{
  flex-grow:1;
}
