@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #FBDA31;
  padding: 2rem;
  min-height: 100vh;
}

section {
  max-width: 1100px;
  background-color: #ffffff;
  padding: 2rem 0;
}

h1{
  display:block;
  position:relative;
  text-align:center;
}

.form-content{
  display:flex;
  position:relative;
  flex-direction:column;
  width:70vw;
  margin:0 5vw;
  font-weight:lighter;
}
/*-----------------------*/
.prof-type{
  display:flex;
  text-align: center;
  margin-bottom:3vh;
}

.prof-type label, input{
  flex-grow:1;
}

.user-info{
  display:flex;
  flex-direction:row;
  position:relative;
  justify-content:space-between;
  width:100%;
  margin-bottom:3vh;
}

.user-info input{
  border:solid lightgrey 1px;
  border-radius:2px;
}

.left-info{
  display:flex;
  flex-direction:column;
  min-width:33vw;
  height:13vh;
  position:relative;
  /*flex-grow: 1;*/
}

.right-info{
  display:flex;
  flex-direction:column;
  min-width:33vw;
  position:relative;
  /*flex-grow: 1;*/
}
/*---------------------------*/
.img-and-submit{
  display:flex;
  /*flex-direction:column;*/
  position:relative;
  justify-content:space-between;
  width:100%;
}

.profile-pic{
  max-width:50%;
  flex-grow:1;
}

button{
  max-width:50%;
  flex-grow:1;
  background-color:white;
  border-radius:4px;
  border:solid black 2px;
  font-weight:bold;
  font-size:1.5vw;
}
